
  <div class="h-screen">
  <div class="h-1/2">
    <p class="md:text-3xl text-xl">Tasks</p>
    <form class="md:px-6 md:py-3">
      <mat-form-field class="w-full h-20 border-none shadow-inner">
        <mat-icon matSuffix>add</mat-icon>
        <input type="text" matInput placeholder="Add Tasks" class="border">
        <mat-label>Add</mat-label>
      </mat-form-field>
    </form>
  </div>
  <div>
    <p class="md:text-3xl text-xl">Completed</p>
    <form class="md:px-6 md:py-3">
      <mat-form-field class="w-full h-20 shadow-inner">
        <mat-icon matSuffix>star</mat-icon>
        <input type="text" matInput placeholder="Add Tasks" disabled>
        <mat-label>Completed</mat-label>
      </mat-form-field>
    </form>

  </div>
</div>
