<div>
  <mat-toolbar class="flex items-center justify-between bg-slate-100">
    <div class="flex items-center gap-4">
      <button
        mat-icon-button
        class="example-icon md:hidden"
        aria-label="Example icon-button with menu icon" (click)="open(value)"
      >
        <mat-icon class="font-black">menu</mat-icon>
      </button>

      <button
        mat-icon-button
        class="example-icon max-md:hidden"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon class="font-black">menu</mat-icon>
      </button>
      <span class="text-2xl">ToDo</span>
    </div>
    <div>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>notifications</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>
